/* inheriting box-sizing
   to border-box value */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rebeccapurple;
  color: white;
}

form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mail,
.pass {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0.3rem;
  text-align: left;
}
